/* Nav Bar */

.nav-group-buttons {
    margin-left: 2%;
}

.navbar-text {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

#w {
    margin-bottom: 1.5px;
}

#navbardrop {
    margin-left: 5%;
    cursor: pointer;
    color: #eee;
}

div.custom-control-right {
    padding-right: 0;
    padding-left: 23px;
    margin-left: 0;
    margin-right: 0;
}

div.custom-control-right .custom-control-label::after {
    right: -1.5rem;
    left: auto;
}

div.custom-control-right .custom-control-label::before {
    right: -2.35rem;
    left: auto;
}

.dropdown-menu {
    padding: 0;
}

.after_navigator_buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


/* PowerStrips table */

.container {
    margin-top: 30px;
}

#table-head {
    background-color: #cdcdcd;
}

.groups-column {
    width: 250px;
}

.groups-cell {
    width: 100%;
    max-height: 25px;
    margin-right: 10px;
    padding-right: 3px;
    overflow: auto;
}


/* Modal edit */

.modal-header {
    background-color: rgb(0 0 0 / 7%);
}

.modal-footer {
    background-color: rgb(0 0 0 / 7%);
}

.modal-dialog-centered {
    justify-content: center;
}

#input-modal {
    margin-top: 4%;
}

#p-modal {
    margin-bottom: 8px;
}


/* Modal Alert */

#modal-alert-content {
    align-items: flex-start;
    margin-top: 28px;
}

#modal-content-alert {
    width: 85%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

#p-modal-alert {
    margin-bottom: 0px;
}


/* Modal Edit Power strip */

.checkbox-modal-addps {
    height: auto;
    width: auto;
    margin-left: 10px;
    margin-top: 7px;
}

.exp-checkbox-modal-addps {
    margin-left: 16px;
    margin-top: 2px;
}


/* To Top Button */

#to-top {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#to-top:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}


/* Loading */

#loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    background-color: #000;
    z-index: 1021;
    opacity: 0.5;
}

.loading-icon {
    position: absolute;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #767676;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    z-index: 4;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* Dark Mode */

[data-theme="dark"] {
    background-color: rgb(18 21 24) !important;
    color: #eee;
}

[data-theme="dark"] #table-body {
    color: white;
    background-color: #343a40;
}

[data-theme="dark"] .modal-content {
    border: 1px solid #444;
}

[data-theme="dark"] .modal-header {
    border-bottom: 1px solid #444;
    background-color: #343a40;
}

[data-theme="dark"] #cerrar-modal {
    color: #ffffff;
}

[data-theme="dark"] .modal-body {
    background-color: #282e34;
}

[data-theme="dark"] .modal-footer {
    border-top: 1px solid #444;
    background-color: #343a40;
}

[data-theme="dark"] #night-user {
    background-color: #343a40;
    border-top: 1px solid #444;
    color: #ffffff;
}

[data-theme="dark"] .custom-control-label {
    background-color: #343a40;
}

[data-theme="dark"] .table-hover tbody tr:hover td {
    color: white
}


/* Responsive */

@media (max-width: 991px) {
    h1#place {
        float: right;
        left: 37%;
        top: 10px;
        position: absolute;
    }
    #w {
        display: none;
    }
    #navbardrop {
        margin-left: 2%;
        padding-top: 0.5rem;
        padding-bottom: 10px;
    }
    .dropdown-menu-right {
        right: auto;
        left: 70px;
        top: 33px;
    }
    .nav-group-buttons {
        margin-left: 0;
    }
    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, .5);
        float: right;
        right: 0;
        top: 13px;
        position: absolute;
        border-color: rgba(255, 255, 255, .1);
        margin-right: 10px;
    }
    .modal-content {
        width: 81%;
    }
}

@media (max-width: 448px) {
    h1#place {
        left: 24%;
        font-size: 30px;
        top: 15px;
    }
    .modal-title {
        font-size: 15px;
    }
    h4.modal-title {
        font-size: 20px;
    }
}

@media (max-width: 330px) {
    h1#place {
        display: none;
    }
    .modal-title {
        font-size: 15px;
    }
    h4.modal-title {
        font-size: 20px;
    }
}